In [25]:
import pandas as pd

to change the value of some n.a. or not avalible

In [26]:
def convert_people_cell(cell):
    if cell == "not avalible":
        return 'Sam Walton'
    else:
        return cell

df = pd.read_excel("stock_data.xlsx", converters={
    'people ': convert_people_cell
})
df

  tickers            eps  revenue price     people
0  Google          27.53       89   879  larry Page
1     WMT           2.42      324    78  Sam Walton
2    MSFT             -1       85    65  Bill Gates
3      RL  not avalibale       98  1920      Ambani
4    TATA            7.8       -1  n.a.  Ratan Tata

In [27]:
df.to_excel('nex_Stock_data.xlsx', sheet_name="stocks")

PermissionError: [Errno 13] Permission denied: 'nex_Stock_data.xlsx'

<!-- EXCEL WRITER -->

In [ ]:
df_stocks = pd.DataFrame({
    'tickers': ['GOOGL', 'WMT', 'MSFT'],
    'price': [845, 65, 64 ],
    'pe': [30.37, 14.26, 30.97],
    'eps': [27.82, 4.61, 2.12],
})
df_stocks

  tickers  price     pe    eps
0   GOOGL    845  30.37  27.82
1     WMT     65  14.26   4.61
2    MSFT     64  30.97   2.12

In [ ]:

df_weather = pd.DataFrame({
    'day' : ['1/1/2024', '2/3/2024', '3/4/2024', '4/5/2024'],
    'temperature' : [32, 35, 28, 24],
    'event' : ['Rain', 'Sunny', 'Snow', 'Snow']
})
df_weather

        day  temperature  event
0  1/1/2024           32   Rain
1  2/3/2024           35  Sunny
2  3/4/2024           28   Snow
3  4/5/2024           24   Snow

In [28]:
with pd.ExcelWriter('stock_weather.xlsx') as write:
    df_stocks.to_excel(write, sheet_name='stocks')
    df_weather.to_excel(write, sheet_name='weather')