Merge the Data Frames

In [6]:
import pandas as pd

In [7]:
temp_df = pd.DataFrame({
    'city' : ["Mumbai", 'Indore', 'Kolkata', 'Dehli'],
    'temperature': [39, 35, 40, 44],
})
temp_df

      city  temperature
0   Mumbai           39
1   Indore           35
2  Kolkata           40
3    Dehli           44

In [8]:
windSpeed_df = pd.DataFrame({
    'city' : ["Indore", 'Mumbai', 'Pune'],
    'windspeed': [6,8, 2],
}, index=[1, 0, 2])
windSpeed_df

     city  windspeed
1  Indore          6
0  Mumbai          8
2    Pune          2

This is similar to inner join

In [9]:
temp_wind_df = pd.merge(temp_df, windSpeed_df, on='city')
temp_wind_df

     city  temperature  windspeed
0  Mumbai           39          8
1  Indore           35          6

For outer join

In [17]:
temp_wind_df = pd.merge(temp_df, windSpeed_df, on='city', how='outer', indicator=True)
temp_wind_df

      city  temperature  windspeed      _merge
0   Mumbai         39.0        8.0        both
1   Indore         35.0        6.0        both
2  Kolkata         40.0        NaN   left_only
3    Dehli         44.0        NaN   left_only
4     Pune          NaN        2.0  right_only

In [16]:
temp_wind_df = pd.merge(temp_df, windSpeed_df, on='city', how='left', indicator=True)
temp_wind_df

      city  temperature  windspeed     _merge
0   Mumbai           39        8.0       both
1   Indore           35        6.0       both
2  Kolkata           40        NaN  left_only
3    Dehli           44        NaN  left_only

COMMON COLUMN in dataframs :

In [18]:
df1 = pd.DataFrame({
    'city' : ["Mumbai", 'Indore', 'Kolkata', 'Dehli'],
    'temperature': [39, 35, 40, 44],
    'Humidity' : [98, 67, 99, 76],
})
df1

      city  temperature  Humidity
0   Mumbai           39        98
1   Indore           35        67
2  Kolkata           40        99
3    Dehli           44        76

In [19]:
df2 = pd.DataFrame({
    'city' : ["Mumbai", 'Indore', 'Pune'],
    'temperature': [39, 35, 40],
    'windspeed' : [4, 8, 14],
})
df2

     city  temperature  windspeed
0  Mumbai           39          4
1  Indore           35          8
2    Pune           40         14

In [22]:
df = pd.merge(df1, df2, on='city', how='outer', suffixes=['_left', '_right'])
df

      city  temperature_left  Humidity  temperature_right  windspeed
0   Mumbai              39.0      98.0               39.0        4.0
1   Indore              35.0      67.0               35.0        8.0
2  Kolkata              40.0      99.0                NaN        NaN
3    Dehli              44.0      76.0                NaN        NaN
4     Pune               NaN       NaN               40.0       14.0