In [1]:
import pandas as pd

In [13]:
df = pd.read_excel("./Stocks.xlsx", header=[0,1]);
df

  Unnamed: 0_level_0    Price                  Price to earnings Ratio(P/E)  \
             Company Facebook Google Microsoft                     Facebook
0         2023-06-05      150    900       542                        37.10
1         2023-06-06      153    901       540                        39.02
2         2023-06-07      151    902       543                        36.90
3         2023-06-08      155    899       550                        38.67
4         2023-06-09      156    880       552                        36.11


  Google Microsoft
0  32.00     30.31
1  33.10     30.56
2  31.98     30.56
3  31.80     32.90
4  30.00     30.31